html {
    background: url(../images/image.img.png) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

body {
    margin-left: 6rem;
    margin-right: 6rem;
    
}

.footer {
    margin-left: -6rem;
    margin-right: -6rem;
}

#content_foot {
    margin-left: 6rem;
    margin-right: 6rem;
}
#link-detail:hover {
        color: rgb(24, 81, 213);
}
#icon_footer {
    border-top: 1px solid rgb(191, 191, 191);
    margin-top: 1rem;
    margin-bottom: 1rem;
    margin-left: -2rem;
    margin-right: -2rem;
}

#contenticon_footer {
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.navbar-brand {
    width: 100%;
}

.navbar {
    flex-wrap: wrap;
}

.navbar-brand {
    justify-content: space-between;
}

.hero {
    margin-top: 2rem;
}

.columns {
    margin-left: 1rem;
    margin-right: -5rem;
    margin-top: 5px;
}

.columns>.column:first-child {
    padding-left: 0;
}

.columns>.column:last-child {
    padding-right: 0;
}

.footer {
    margin-top: 4rem;
}

#sidebar {
    margin-left: 0rem;
    margin-top: 10px;
}
#backgroundimg {
    width:1300px;
    height: auto;
}
#text-content{
    text-align: justify;
    width: 1250px
}
.has-bg-img {
    background: url('../images/FIFA_17_THEME.jpg')center center;
    background-size: cover;
    height: 80px;
}
